---
title: Camelopardalids May 2014
layout: page
pageOrder: 1
---

div.jumbotron
  h2 Camelopardalids Meteor Shower - Bay Area Viewing Guide (Concise)
  p Also Known As: Comet 209P/LINEAR
  p Peak: Friday, May 23rd 2014 (SOON!)

  h3 General Tips
  ul
    li Estimated quantity: 100-400 meteors per hour
    li Potentially the best meteor shower of the year (it's a new meteor shower, so we don't know for sure yet)
    li West Coast Best Viewing Time: 11pm to 1am (on the night of Friday the 23rd, so the early morning of Saturday the 24th of May)
    li East Coast Best Viewing Time: 2am to 4am (on the night of Friday the 23rd, so the early morning of Saturday the 24th of May)
    li Moon status: small! (This is great)
    li Best hemisphere: Northern. Far better in USA.
    li Don't use a telescope.
    li Note: _"Because this is a new meteor shower, surprises are possible. Outbursts could occur hours before or after the forecasted peak."_

  h3 Bay Area Viewing
  p Note, that this meteor shower is viewed by looking North. Therefore, these locations are specific to the Camelopardalid Meteor Shower, and won't necessarily apply to others.
  p Unfortunately, with San Francisco being so bright, the general rule is that people in the city will need to head north, and people in the South Bay will need to head south/south-east.
  p
    strong South Bay
  table.table.table-bordered
    thead
      td Name
      td Google Maps
      td Notes
    tbody
      tr
        td Henry W. Coe State Park
        td
          a(href='https://www.google.com/maps/place/Henry+W.+Coe+State+Park/@37.170719,-121.420195,17z/data=!3m1!4b1!4m2!3m1!1s0x8091e804a5ff7a0f:0xfb547cb0cfe33f72') GMaps
        td Best spot. Around 1h11m from Stanford without traffic.
      tr
        td Joseph D. Grant County Park
        td
          a(href='https://www.google.com/maps/place/Joseph+D.+Grant+County+Park/@37.3415244,-121.7252267,14z/data=!4m2!3m1!1s0x0:0xc31ff7ce0bcfd1d9') GMaps
        td Great spot. Around 49m from Stanford without traffic. Just find a place to pull over on the side of the road
      tr
        td Monte Bello Open Space Preserve
        td
          a(href='https://www.google.com/maps/place/Monte+Bello+Open+Space+Preserve/@37.3322623,-122.1545643,13z/data=!4m2!3m1!1s0x808fb217b63f55a1:0x55a8a7303204a292') GMaps
        td Good spot, around 31m from Stanford without traffic.
      tr
        td Uvas Canyon County Park
        td
          a(href='https://www.google.com/maps/place/Uvas+Canyon+County+Park/@37.080378,-121.796469,9z/data=!4m2!3m1!1s0x808e2323e57d745b:0x5b44cb806b9a64f3') GMaps
        td
      tr
        td Santa Cruz Mountains
        td
          a(href='https://www.google.com/maps/place/Santa+Cruz+Mountains/@37.1107802,-121.8446758,15z/data=!3m1!4b1!4m2!3m1!1s0x808e3b654a56b157:0xfe1b90ff472323ac') GMaps
        td
      tr
        td Windy Hill Open Space Preserve
        td
          a(href='https://www.google.com/maps/place/Windy+Hill+Open+Space+Preserve/@37.362565,-122.23419,17z/data=!3m1!4b1!4m2!3m1!1s0x808faf6ffa165a89:0x9ad61aaea0e86137') GMaps
        td Only if you really don't want to drive far. Won't be as good as other locations.
  p
    strong San Francisco
  table.table.table-bordered
    thead
      td Name
      td Google Maps
    tbody
      tr
        td Mount Tamalpais
        td
          a(href='https://www.google.com/maps/place/Mt+Tamalpais/@37.8181258,-122.5117474,11z/data=!4m2!3m1!1s0x808591171b36502f:0x64161469a5add222') GMaps
      tr
        td Mount Diablo
        td
          a(href='https://www.google.com/maps/place/Mt+Diablo/@37.8816742,-121.9138469,15z/data=!3m1!4b1!4m2!3m1!1s0x808ff431db2f96d1:0x8b99d90a20aa67de') GMaps
  p
    strong East Bay
  table.table.table-bordered
    thead
      td Name
      td Google Maps
    tbody
      tr
        td Outskirts of Briones Regional Park
        td
          a(href='https://www.google.com/maps/place/Briones+Regional+Park/@37.935689,-122.139664,10z/data=!4m2!3m1!1s0x8085637f3d30b5f9:0xc6371e790b60cfe2') GMaps
  p
    strong Resources
  ul
    li
      a(href='http://cleardarksky.com/csk/prov/California_map.html') Clear Sky Charts in California
    li
      a(href='http://www.jshine.net/astronomy/dark_sky/') Dark Sky Finder
    li
      a(href='http://www.mercurynews.com/ci_15724088') San Jose Mercury News
    li
      a(href='http://www.quora.com/What-is-the-best-place-to-view-a-meteor-shower-in-the-SF-Bay-Area') This and other Quora answers

  h3 USA Sky Clarity Map (Cloud coverage)
  img.img-responsive.img-rounded(src='http://imgur.com/Zmkgsfp.jpg', alt='Camelopardalids USA Sky Clarity Map')
  p
    a(href='http://www.accuweather.com/en/features/trend/viewable_for_the_first_time_ne/27352068') Source: Accuweather

  h3 Where to Look in the Sky
  ul
    li Please note, being far away from light pollution is far more important than looking in the right direction.
    li As a general tip, look North.
  img.img-responsive.img-rounded(src='http://imgur.com/mMpSVg2.jpg', alt='Camelopardalids Where To Look')


  h3 Source
  p
    a(href='http://science.nasa.gov/science-news/science-at-nasa/2014/06may_newshower/') Nasa: A New Meteor Shower in May?

div.jumbotron
  h2 Share this guide, don't let your friends miss it!
  #share-buttons
    a.twitter-share-button(href='https://twitter.com/share', 
      data-text='Upcoming Meteor Shower - #Camelopardalids on May 23rd 2014: ', 
      data-counturl='http://www.meteortime.com', 
      data-related='chrisbarber:The creator. Follow for more creations!',  
      data-lang='en')
        | Tweet
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    br
    div.fb-like(data-send="true" data-type='button_count' data-width="450" data-show-faces="true")