---
title: Leonids November 2014
layout: page
pageOrder: 4
---

div.jumbotron
  h1 Leonids Meteor Shower, November 16-17th 2014
  h2 Guide coming November 2014.

div.jumbotron
  h2 Share the upcoming Camelopardalids on May 23rd!
  #share-buttons
    a.twitter-share-button(href='https://twitter.com/share', 
      data-text='Upcoming Meteor Shower - #Camelopardalids on May 23rd 2014: ', 
      data-counturl='http://www.meteortime.com', 
      data-related='chrisbarber:The creator. Follow for more creations!',  
      data-lang='en')
        | Tweet
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    br
    div.fb-like(data-send="true" data-type='button_count' data-width="450" data-show-faces="true")

div.jumbotron
  h2 Don't forget about the Leonids Meteor Shower!
  a.twitter-follow-button(href='https://twitter.com/chrisbarber', data-show-count='false', data-size='large', data-show-screen-name='false') Follow @chrisbarber
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  form(role='form')#mc-form
    .form-group
      label(for='mc-email') Less than 15 emails per year, guaranteed.
      input#mc-email.form-control(type='email', placeholder='Enter email')
    button.btn.btn-default(type='submit') Get Shower Notifications!