--- yaml
layout: 'default'
title: 'Meteor Showers 2014'
---

div.jumbotron
  h1 Meteor Showers in 2014
  h3 2014 Meteor Shower Calendar
  table.table.table-bordered
    thead
      tr
        th Shower Name
        th 2014 Peak Date (Night Of)
    tbody
      tr
        td
          strike Quadrantids
        td
          strike Thursday January 2nd
      tr
        td
          strike Lyrids
        td
          strike Monday April 21st
      tr
        td
          strike Eta Aquarids
        td
          strike Monday May 5th
      tr
        td Camelopardalids
        td Friday May 23rd
      tr 
        td Perseids
        td August 12th
      tr 
        td Orionids
        td October 21st
      tr
        td Leonids
        td November 16th and 17th
      tr
        td Geminids
        td December 13th

  p
    | Visit the 
    a(href='#') May 23rd 2014 Camelopardalids/Comet 209P/LINEAR 
    | viewing guide.

div.jumbotron
  h2 Let someone else know about cool stuff in the sky.
  #share-buttons
    a.twitter-share-button(href='https://twitter.com/share', 
      data-text='Upcoming Meteor Shower - Camelopardalids on May 23rd 2014: ', 
      data-counturl='http://www.meteortime.com', 
      data-related='chrisbarber:The creator. Follow for more creations!',  
      data-lang='en')
        | Tweet
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    br
    div.fb-like(data-send="true" data-type='button_count' data-width="450" data-show-faces="true")

div.jumbotron
  h2 Find out about the next shower early!
  a.twitter-follow-button(href='https://twitter.com/chrisbarber', data-show-count='false', data-size='large', data-show-screen-name='false') Follow @chrisbarber
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  form(role='form')#mc-form
    .form-group
      label(for='mc-email') Less than 15 emails per year, guaranteed.
      input#mc-email.form-control(type='email', placeholder='Enter email')
    button.btn.btn-default(type='submit') Get Shower Notifications!